<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <link rel="stylesheet" href="./stylesheets/style.css">        
    </head>
    <body>
        <h1>Chess!</h1>

        <p>Move your pieces by clicking on them; Capture the enemy king to win</p>
        <a href="/game" class="Play">Play!</a>
        <p># Games in play</p> <%=games%>
        <p># Players</p> <%=players%>
        <p># Croissants eaten</p>
        <p>6</p>
    </body>
</html>

