body 
{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a 
{
  color: #00B7FF;
}

.White
{
  background-color: bisque;
  width: 12.5%;
  height: 12.5%;
  position: absolute;;
  float:left;
  margin: 0%;
  padding: 0%;

}

.White:hover{
  border: 2px solid red;
  z-index:1;
  border-radius: 2px;
}

.Black
{
  background-color: #70290B;
  width: 12.5%;
  height: 12.5%;
  position: absolute;;
  float:left;
  padding: 0%;
  margin: 0%;
  z-index:0;
  border: 0px solid red;
}

.Black:hover{
  border: 2px solid red;
  z-index:1;
  border-radius: 2px;
  cursor: move;
  cursor: -moz-move;
  cursor: -webkit-move;
}

[draggable=true]{
  cursor: move;
}

#board
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vh;
  height: 50vh;
  border: 10px solid #70290B;
}

.White[data-piece='pawn']
{
  background-image: url(../../../ChessPics/whitePawn.png);
}
.White[data-piece='rook']
{
  background-image: url(../../../ChessPics/whiteRook.png);
}
.White[data-piece='knight']
{
  background-image: url(../../../ChessPics/whiteKnight.png);
}
.White[data-piece='bishop']
{
  background-image: url(../../../ChessPics/whiteBishop.png);
}
.White[data-piece='king']
{
  background-image: url(../../../ChessPics/whiteKing.png);
}
.White[data-piece='queen']
{
  background-image: url(../../../ChessPics/whiteQueen.png);
}

.Black[data-piece='pawn']
{
  background-image: url(../../../ChessPics/blackPawn.png);
}
.Black[data-piece='rook']
{
  background-image: url(../../../ChessPics/blackRook.png);
}
.Black[data-piece='knight']
{
  background-image: url(../../../ChessPics/blackKnight.png);
}
.Black[data-piece='bishop']
{
  background-image: url(../../../ChessPics/blackBishop.png);
}
.Black[data-piece='king']
{
  background-image: url(../../../ChessPics/blackKing.png);
}
.Black[data-piece='queen']
{
  background-image: url(../../../ChessPics/blackQueen.png);
}


